<div class="harvest-d">
  <h3>街の果樹の詳細</h3>
  <%= link_to '収穫イベントをリクエストする', "/trees/#{@tree.id}/requests/new", method: :get %>
  </br>

  <table>
    <tr><th>市役所など</th><td><%= @tree.government.hall %></td></tr>
    <tr><th>果樹区分</th><td><%= @tree.tree_type %></td></tr>
    <tr><th>果樹名など</th><td><%= @tree.tree_name %></td></tr>
    <tr><th>住所</th><td><%= @address %></td></tr>
    <tr><th>果実の詳細</th><td><%= @harvest.fruit.fruit_detail %></td></tr>
    <tr><th>収穫日</th><td><%= formatted_datetime(@harvest.harvest_day) %></td></tr>
    <tr><th>収穫人数</th><td><%= @harvest.people_number %></td></tr>
  </table>


</div>
