<div class="dummy-mail">
  <li style="border-bottom: dotted 0.5px;list-style: none">
    ＜メール送信内容＞</br>
  </li>
  <li style="border-bottom: dotted 0.5px;list-style: none">
    subject: 収穫祭をリクエストします</br>
    to: <%= @request.tree.government.hall_email %></br>
  </li>
  <li style="border-bottom: dotted 0.5px;list-style: none">
    <%= @request.tree.government.hall %> 御中</br>
    </br>
    「街の収穫祭」のユーザーから、以下の街の果樹の収穫祭の開催のリクエストがありました。</br>
    実施許可の返信は、リクエスト者のemailにお願いします。</br>
    </br>
    果樹区分：<%= @request.tree.tree_type %></br>
    果樹名・施設名：<%= @request.tree.tree_name %></br>
    所在地：<%= @request.tree.tree_address2 %></br>
    </br>
    リクエスト者：<%= @request.user.name %></br>
    email：<%= @request.user.email %></br>
    </br>
    コメント：</br>
    <%= @request.comment %>
    </br>
  </li>
  <li style="border-bottom: dotted 0.5px;list-style: none">
    「街の収穫祭」Harvest Fes.</br>
    街や庭の果樹の収獲祭による地域コミュニティの活性化を目的とするサイトです。</br>
    https://morning-castle-97264.herokuapp.com/</br>
  </li>
  </br>
  <%= link_to '街の果樹の検索ページに戻る', "/trees", method: :get %>
  <%= link_to 'マイページに戻る', "/users/#{current_user.id}", method: :get %>
</div>
