<div class="harvest-li">
  <h2>収獲イベントの検索</h2>

  <%= search_form_for @search do |f| %>
    <div>
      <%= f.text_field :fruit_fruit_address2_cont, class: "form-control", placeholder: "都道府県", style: 'width: 90px;height: 30px;font-size: 15px;padding: 0 10px;margin: 5px 1px' %>
      <%= f.text_field :fruit_fruit_address3_cont, class: "form-control", placeholder: "市区町村など", style: 'width: 150px;height: 30px;font-size: 15px;padding: 0 10px;margin: 5px 1px' %>
    </div>
    <div class="action"><%= f.submit "検  索", class: "btn btn--block" do %><% end %></div>
  <% end %>

  <ul>
    <% @result.each do |harvest| %>
      <li><%= image_tag harvest.fruit.photo(:thumb), alt: 'No image' %></br>
        <%= harvest.fruit.fruit_name %></br>
        <%= harvest.fruit.fruit_address2 %></br>
        <%= formatted_datetime(harvest.harvest_day) %></br>
        <%= link_to '収獲詳細', "/harvests/#{harvest.id}", method: :get %></li>
    <% end %>
  </ul>
</div>
