<div class="contents-login row">
  <h2 style="margin: 10px 0">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field", style="margin: 10px 0">
      <%= f.label :Eメールアドレス %><br />
      <%= f.email_field :email, autofocus: true, placeholder: 'Eメールアドレス', style: 'width: 250px;height: 30px;font-size: 15px;padding: 0 10px' %>
    </div>

    <div class="field", style="margin: 10px 0">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', style: 'width: 250px;height: 30px;font-size: 15px;padding: 0 10px;' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field", style="margin: 20px 0">
        <%= f.check_box :remember_me %>
        <%= f.label :この情報をブラウザに保存する %></br>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn--block" do %>
      <% end %>
    </div>
  <% end %>

  <div style="color: #696969; background-color: rgba(169,169,169,0.4);">
    <%= render "devise/shared/links" %>
  </div>
</div>


